<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="app.palmapp.com" version="1.17.0" versionCode="17">
    <name>PalmApp</name>
    <description>
        Palmapp
    </description>
    <author email="info@lenus.it" href="http://www.lenus.it">
        Lenus media
    </author>
	<gap:platform name="winphone" />
    <gap:platform name="android" />
    <gap:platform name="ios" />
    <icon src="logo.png"/>
    <icon gap:platform="winphone" src="logo.png" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/icon-120.png" width="120"/>
    <icon gap:platform="ios" height="152" src="res/icon/ios/icon-152.png" width="152"/>
    <icon gap:platform="ios" height="76" src="res/icon/ios/icon-76.png" width="76"/>
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72"/>
    <icon gap:platform="ios" height="60" src="res/icon/ios/icon-60.png" width="60"/>
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57"/>
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon_at_2x.png" width="114"/>
    <content src="src/main.html"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="true"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <!--<preference name="show-splash-screen-spinner" value="true" />-->
    <preference name="SplashScreen" value="none"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="android-build-tool" value="gradle"/>
    <gap:plugin name="cordova-plugin-console" source="npm"/>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-vibration" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-device-motion" source="npm"/>
    <gap:plugin name="cordova-plugin-device-orientation" source="npm"/>
    <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-globalization" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    <gap:plugin name="cordova-plugin-network-information" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    
    <plugin name="phonegap-plugin-push" source="npm" spec="~1.6.0">
        <param name="SENDER_ID" value="993634988218"/>
    </plugin>
    
    <access origin="*"/>
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <gap:plugin name="cordova-plugin-gcm-ios" source="npm"/>
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
	<platform name="winphone" />
</widget>
