<?xml version='1.0' encoding='utf-8'?>
<widget id="app.palmapp.com" version="1.17.0" versionCode="17" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PalmApp</name>
    <description>
        Palmapp
    </description>
    <author email="info@lenus.it" href="http://www.lenus.it">
        Lenus media
    </author>
    <icon src="icon.png" />
    <splash src="splash.png" width="320" height="480" />
    <content src="src/main.html" />
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-build-tool" value="gradle" />
    <gap:plugin name="cordova-plugin-console" source="npm" />
    <gap:plugin name="cordova-plugin-vibration" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-device-motion" source="npm" />
    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-globalization" source="npm" />
    <gap:plugin name="cordova-plugin-media" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-camera" source="npm" />
    <gap:plugin name="cordova-plugin-uniquedeviceid" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-legacy-whitelist" source="npm" version="1.1.0" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="~1.5.0">
        <param name="SENDER_ID" value="240674659233" />
    </gap:plugin>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="market:*" />
        <splash src="data/img/Background.png" width="320" height="480" />
    </platform>
    <platform name="ios">
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="data/img/icon/ios/icon-180.png" width="180" />
        <icon height="120" src="data/img/icon/ios/icon-120.png" width="120" />
        <icon height="152" src="data/img/icon/ios/icon-152.png" width="152" />
        <icon height="76"  src="data/img/icon/ios/icon-76.png" width="76" />
        <icon height="72"  src="data/img/icon/ios/icon-72.png" width="72" />
        <icon height="60"  src="data/img/icon/ios/icon-60.png" width="60" />
        <icon height="57"  src="data/img/icon/ios/icon-57.png" width="57" />
        <icon height="114" src="data/img/icon/ios/icon_at_2x.png" width="114" />
        <splash src="splash.png" width="320" height="480" />
    </platform>
    <platform name="winphone">
        <icon platform="winphone" src="logo.png" />
        <splash src="data/img/Background.png" width="320" height="480" />
    </platform>
    <engine name="android" spec="~4.1.1" />
</widget>
