<?xml version='1.0' encoding='utf-8'?>
<widget id="app.palmapp.com" version="1.18.0" versionCode="18" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <gap:config-file parent="CFBundleShortVersionString" platform="ios">
        <string>18</string>
    </gap:config-file>
    <name>PalmApp</name>
    <description>
        Palmapp
    </description>
    <author email="info@lenus.it" href="http://www.lenus.it">
        Lenus media
    </author>
    <gap:plugin name="cordova-plugin-battery-status" source="npm"  />
    <gap:plugin name="cordova-plugin-media-capture" source="npm"  />
    <gap:plugin name="cordova-plugin-contacts" source="npm"  />
    <gap:plugin name="cordova-plugin-file" source="npm"  />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm"  />
    <gap:plugin name="cordova-plugin-geolocation" />
    <!---->
    <gap:plugin name="cordova-plugin-console" source="npm" />
    <gap:plugin name="cordova-plugin-vibration" source="npm" />
    <gap:plugin name="cordova-plugin-device" source="npm" />
    <gap:plugin name="cordova-plugin-device-motion" source="npm" />
    <gap:plugin name="cordova-plugin-device-orientation" source="npm" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-globalization" source="npm" />
    <gap:plugin name="cordova-plugin-media" source="npm" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" />
    <gap:plugin name="cordova-plugin-camera" source="npm" />
    <gap:plugin name="cordova-plugin-uniquedeviceid" source="npm" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-legacy-whitelist" source="npm" version="1.1.0" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="~1.5.0">
        <param name="SENDER_ID" value="240674659233" />
    </gap:plugin>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="phonegap-version" value="cli-6.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="true" />
    <preference name="SplashScreen" value="splash.png" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="ShowSplashScreen" value="false" />
    <!---->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-installLocation" value="auto" />
        <preference name="android-build-tool" value="gradle" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="market:*" />
        <icon src="res/icon/android/icon.png" />
        <gap:splash height="480" src="res/splash/android/splash.png" width="320" />
    </platform>
    <platform name="ios">
        <preference name="detect-data-types" value="true" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="prerendered-icon" value="true" />
        <preference name="target-device" value="handset" />
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/icon/ios/icon.png" />
        <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
        <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
        <gap:splash height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
        <gap:splash height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <gap:splash height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <gap:splash height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
        <gap:splash height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
    </platform>
    <platform name="winphone">
        <icon src="res/icon/generic/icon.png" />
        <splash height="480" src="res/splash/generic/splash.png" width="320" />
    </platform>
    <icon src="icon.png" />
    <gap:icon src="icon.png" />
    <content src="index.html" />
    <engine name="android" spec="~5.1.1" />
</widget>
